body {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: #2f2f37;
  margin: 0;
}

section {
  max-width: 1600px;
}

header, footer {
  max-width: 1600px;
}

footer {
  padding-top: 95px;
  padding-bottom: 30px;
  margin-top: 0;
}

h1 {
  font-size: 55px;
  line-height: 1.36;
}
h1 span {
  color: #A5EFFF;
}

h2 {
  font-size: 40px;
  line-height: 1.15;
}

h1, h2 {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

p, span, li {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  outline: none;
}

.container {
  max-width: 1171px;
  margin: 0 auto;
  display: flex;
}

.logo-wrapper {
  width: 140px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.13px;
  margin-right: 160px;
}
.logo-wrapper .styled-color-white span {
  color: #FFF;
}
.logo-wrapper span {
  color: #006D85;
}

.logo-icon {
  margin-top: 10px;
}

.phone-btn {
  width: 70px;
  height: 36px;
  margin-right: 20px;
  border: none;
  background: rgba(168, 229, 255, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.phone-btn .phone-btn__color-light {
  background-color: #A5EFFF;
}
.phone-btn:active {
  transform: scale(0.9);
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.header-section {
  margin: 0 auto;
}

.header-container {
  padding: 20px 0;
  justify-content: flex-start;
}

nav {
  margin-right: 128px;
}

.burger-menu-wrapper {
  position: relative;
}

.burger-menu-btn {
  position: relative;
  background: none;
  width: 31px;
  height: 36px;
  border: none;
  cursor: pointer;
}
.burger-menu-btn:active {
  transform: scale(0.9);
}

.burger-menu-icon {
  position: absolute;
  top: 5;
  left: -2;
}

.modal-menu-wrapper {
  border: 1px solid black;
  padding: 40px 10px 100px 10px;
  position: absolute;
  top: 0;
  left: -2;
  width: 150px;
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 200ms ease, transform 1s ease;
  background-color: #fff;
  pointer-events: none;
  z-index: 100;
}
.modal-menu-wrapper.active {
  transition: opacity 100ms ease, transform 1s ease;
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

.modal-menu-close-btn {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-image: url("../img/close-btn-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  position: absolute;
  top: 5;
  right: 5;
  cursor: pointer;
}
.modal-menu-close-btn:active {
  transform: scale(0.9);
}

.header__summer-time {
  background-repeat: no-repeat;
  background-position: top left, bottom -95 left 800, top right;
  background-size: 75px, 150px, 60px;
  background-image: url("../img/header-wallpapers/header_summer/header-summer-decor-wallpapers-left.svg"), url("../img/header-wallpapers/header_summer/header-summer-decor-wallpapers-center.svg"), url("../img/header-wallpapers/header_summer/header-summer-decor-wallpapers-right.svg");
  margin: 0 auto;
}

.header__autumn-time {
  background-repeat: no-repeat;
  background-position: top left, bottom -95 left 800, top right;
  background-size: 75px, 150px, 60px;
  background-image: url("../img/header-wallpapers/header_autumn/header-autumndecor-wallpapers-left.svg"), url("../img/header-wallpapers/header_autumn/header-autumn-decor-wallpapers-center.svg"), url("../img/header-wallpapers/header_autumn/header-autumndecor-wallpapers-right.svg");
  margin: 0 auto;
}

.header__winter-time {
  background-repeat: no-repeat;
  background-position: top left, bottom left 875, top right;
  background-size: 68px, 62px, 90px 56px;
  background-image: url("../img/header-wallpapers/header_winter/header-winter-decor-wallpapers-left.svg"), url("../img/header-wallpapers/header_winter/header-winter-decor-wallpapers-center.svg"), url("../img/header-wallpapers/header_winter/header-winter-decor-wallpapers-right.svg");
  margin: 0 auto;
}

.header__spring-time {
  background-repeat: no-repeat;
  background-position: top left -5, bottom -10 left 1025, top right -13;
  background-size: 82px 69px, 48px 53px, 100px 83px;
  background-image: url("../img/header-wallpapers/header_spring/header-spring-decor-wallpapers-left.svg"), url("../img/header-wallpapers/header_spring/header-spring-decor-wallpapers-center.svg"), url("../img/header-wallpapers/header_spring/header-spring-decor-wallpapers-right.svg");
  margin: 0 auto;
}

.social-contacts-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stripe-decor {
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);
}

.social-links-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 56px;
}

.social-links-item:not(:last-child) {
  margin-right: 56px;
}

.social-link-icon {
  fill: #FFF;
}
.social-link-icon:hover {
  fill: #CDF6FF;
}
.social-link-icon:active {
  fill: #A5EFFF;
  transform: scale(0.9);
}

.link-list {
  width: 471px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-link {
  font-size: 18px;
  line-height: 1.16;
  text-decoration: none;
  color: black;
}
.item-link:hover {
  color: #006D85;
}

.language-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 121px;
  height: 36px;
  margin-right: 20px;
  background-color: rgba(168, 229, 255, 0.5);
  text-align: center;
  border-radius: 10px;
}

.language-interface {
  width: 50%;
  font-size: 17px;
  line-height: 1.17;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.hero-section {
  background-image: linear-gradient(rgba(0, 16, 56, 0.45), rgba(0, 16, 56, 0.45)), url("../img/hero-wallpapers/hero-summer-wallpaper-min-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 203px 0 30px 0;
}

.hero-container {
  flex-direction: column;
}

.main-hero-content {
  display: flex;
}

.hero-tittle-panel-wrapper {
  margin-right: 126px;
}

h1 {
  color: #FFF;
  padding: 26px 0;
}

.hero-about {
  max-width: 605px;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  margin-top: 25px;
  color: #FFF;
}

.hero-btn {
  padding: 12px 80px;
  background: linear-gradient(180deg, #A5EFFF 0%, #95ECFF 0.01%, #B3F1FF 100%);
  border-radius: 10px;
  font-weight: 500;
  font-size: 19px;
  line-height: 1.15;
  border: none;
  cursor: pointer;
  margin-top: 50px;
}
.hero-btn:active {
  transform: scale(0.9);
}

.hero-weather-panel-wrapper {
  position: relative;
}

.weather-panel-city-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 134px;
}

.city-icon {
  fill: #A5EFFF;
  cursor: pointer;
}
.city-icon:hover {
  fill: #c81313;
}

.city-control-bar {
  margin-left: 14px;
  position: relative;
}

.title-wrapper {
  position: absolute;
  top: 0;
  left: 36;
}

.tittle-text-wrapper {
  font-size: 25px;
  line-height: 1.16;
  color: #FFF;
}

.city-changer-btn {
  width: 110px;
  height: 30px;
  border: none;
  background: none;
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  color: #A5EFFF;
}
.city-changer-btn:hover {
  color: #c81313;
}
.city-changer-btn:active {
  transform: scale(0.9);
}

.current-temperature-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-right: 20px;
  background-image: url("../img/hero-wallpapers/svg_degrees_how_wallpaper.svg");
  background-repeat: no-repeat;
  background-size: 20 20;
  background-position: top right;
}

.current-temperature {
  font-weight: 500;
  font-size: 90px;
  line-height: 1.14;
  color: #FFF;
}

.degrees-icon {
  position: absolute;
  top: 0;
  right: 0;
}

.weather-large-icon-wrapper {
  width: 230px;
  height: 230px;
  position: absolute;
  bottom: 50;
  left: 90;
}

.weather-large-icon {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.weather-description {
  position: absolute;
  bottom: 13;
  left: 120;
  color: #FFF;
}

.hero__summer-time {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 203px 0 30px 0;
  background-image: linear-gradient(rgba(0, 16, 56, 0.45), rgba(0, 16, 56, 0.45)), url("../img/hero-wallpapers/hero-summer-wallpaper-min-2.jpg");
}

.hero__autumn-time {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 203px 0 30px 0;
  background-image: linear-gradient(rgba(0, 16, 56, 0.45), rgba(0, 16, 56, 0.45)), url("../img/hero-wallpapers/hero-autumn-wallpaper-min.jpg");
}

.hero__winter-time {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 203px 0 30px 0;
  background-image: linear-gradient(rgba(0, 16, 56, 0.45), rgba(0, 16, 56, 0.45)), url("../img/hero-wallpapers/hero-winter-wallpaper-min.jpg");
}

.hero__spring-time {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 203px 0 30px 0;
  background-image: linear-gradient(rgba(0, 16, 56, 0.45), rgba(0, 16, 56, 0.45)), url("../img/hero-wallpapers/hero-spring-wallpaper-min.jpg");
}

.about-section {
  padding: 115px 0 110px 0;
}

.about-container {
  flex-direction: column;
}

.about-tittle-outlet {
  margin-bottom: 60px;
}

h2 span {
  color: #006D85;
}

.about-content-wrapper {
  display: flex;
  justify-content: space-between;
}

.ppl-image-wrapper {
  border-radius: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}

.about-text-wrapper {
  width: 570px;
  box-sizing: border-box;
  margin-top: 119px;
  padding: 31px 26px;
  background: linear-gradient(110.89deg, rgba(121, 222, 244, 0.32) 6.2%, rgba(121, 222, 244, 0.32) 6.21%, rgba(255, 251, 164, 0.32) 25.48%, rgba(255, 251, 164, 0.32) 40.95%, rgba(121, 222, 244, 0.32) 94.08%);
  border-radius: 20px;
}

.about-text {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-indent: 50px;
}
.about-text:not(:last-child) {
  margin-bottom: 23px;
}

.about__summer-time {
  background-image: url("../img/about-wallpapers/about_summer/about-summer-decor-wallpapers-left.svg"), url("../img/about-wallpapers/about_summer/about-summer-decor-wallpapers-center.svg"), url("../img/about-wallpapers/about_summer/about-summer-decor-wallpapers-right.svg");
  background-repeat: no-repeat;
  background-position: top 320 left -13, top -82 left 870, bottom 80 right;
  background-size: 132px 148px, 120px 152px, 121px 181px;
  padding: 115px 0 110px 0;
}

.about__autumn-time {
  background-image: url("../img/about-wallpapers/about_autumn/about-summer-decor-wallpapers-left.svg"), url("../img/about-wallpapers/about_autumn/about-summer-decor-wallpapers-center.svg"), url("../img/about-wallpapers/about_autumn/about-summer-decor-wallpapers-right.svg");
  background-repeat: no-repeat;
  background-position: top 320 left -13, top -82 left 870, bottom 80 right;
  background-size: 175px, 113px 109px, 120px;
  padding: 115px 0 110px 0;
}

.about__winter-time {
  background-image: url("../img/about-wallpapers/about_winter/about-winter-decor-wallpapers-left.svg"), url("../img/about-wallpapers/about_winter/about-winter-decor-wallpapers-center.svg"), url("../img/about-wallpapers/about_winter/about-winter-decor-wallpapers-right.svg");
  background-repeat: no-repeat;
  background-position: top 235 left -25, top -63 left 755, bottom 25 right;
  background-size: 132px 148px, 120px 152px, 121px 181px;
  padding: 115px 0 110px 0;
}

.about__spring-time {
  background-image: url("../img/about-wallpapers/about_spring/about-spring-decor-wallpapers-left.svg"), url("../img/about-wallpapers/about_spring/about-spring-decor-wallpapers-center.svg"), url("../img/about-wallpapers/about_spring/about-spring-decor-wallpapers-right.svg");
  background-repeat: no-repeat;
  background-position: top 284 left, top -62 left 870, bottom 116 right;
  background-size: 241px 201px, 118px 104px, 114px 100px;
  padding: 115px 0 110px 0;
}

.footer-section {
  background-image: linear-gradient(rgba(0, 16, 56, 0.45), rgba(0, 16, 56, 0.45)), url("../img/footer-wall-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-section.footer-section__extended-text {
  background-image: linear-gradient(rgba(0, 16, 56, 0.45), rgba(0, 16, 56, 0.45)), url("../img/footer-wall-with-extra-text-min.jpg");
  background-position: center, left top;
}

.footer-container {
  flex-direction: column;
  position: relative;
}

.footer-text-wrapper {
  width: 834px;
}

.footer-secondary-inform-btn {
  position: absolute;
  right: 70;
  top: 100;
  width: 180px;
  height: 54px;
  background: none;
  cursor: pointer;
  border: none;
  transition: transform 2s ease;
}
.footer-secondary-inform-btn.rotated {
  transform: rotateX(180deg) translateY(-130px);
  transition: transform 1s ease;
}

.secondary-inform-bt-icon {
  position: absolute;
  top: 0;
  left: 0;
  fill: #FFF;
}

.footer-tittle {
  margin-bottom: 40px;
  color: #FFF;
}
.footer-tittle span {
  color: #A5EFFF;
}

.footer-text {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #FFF;
  text-indent: 50px;
}

.secondary-text-wrapper {
  height: 0;
  overflow: hidden;
  position: relative;
}
.secondary-text-wrapper p {
  position: absolute;
  transition: transform 1s ease;
  transform: translateY(-100%);
}
.secondary-text-wrapper.active {
  height: 200px;
  margin-top: 27px;
}
.secondary-text-wrapper.active p {
  transform: translateY(0);
  transition: transform 1s ease;
}

.footer-navigation-wrapper {
  display: flex;
  margin-top: 109px;
}
.footer-navigation-wrapper nav a {
  color: #FFF;
}

.footer__summer-time {
  background-image: url("../img/footer-wallpapers/summer_footer/footer-summer-decor-wallpapers-left.svg"), url("../img/footer-wallpapers/summer_footer/footer-summer-decor-wallpapers-right.svg"), linear-gradient(rgba(0, 16, 56, 0.45), rgba(0, 16, 56, 0.45)), url("../img/footer-wall-min.jpg");
  background-repeat: no-repeat;
  background-position: bottom -12 left -3, bottom right -12, center, center;
  background-size: 128px 137px, 155px 165px, cover, cover;
}
.footer__summer-time.footer-section__extended-text {
  background-image: url("../img/footer-wallpapers/summer_footer/footer-summer-decor-wallpapers-left.svg"), url("../img/footer-wallpapers/summer_footer/footer-summer-decor-wallpapers-right.svg"), linear-gradient(rgba(0, 16, 56, 0.45), rgba(0, 16, 56, 0.45)), url("../img/footer-wall-with-extra-text-min.jpg");
  background-position: bottom -12 left -3, bottom right -12, center, center right -25;
}

.footer__autumn-time {
  background-image: url("../img/footer-wallpapers/footer_autumn/footer-summer-decor-wallpapers-left.svg"), url("../img/footer-wallpapers/footer_autumn/footer-summer-decor-wallpapers-right.svg"), linear-gradient(rgba(0, 16, 56, 0.45), rgba(0, 16, 56, 0.45)), url("../img/footer-wall-min.jpg");
  background-repeat: no-repeat;
  background-position: bottom -12 left -3, bottom right -12, center, center;
  background-size: 128px 137px, 155px 165px, cover, cover;
}
.footer__autumn-time.footer-section__extended-text {
  background-image: url("../img/footer-wallpapers/footer_autumn/footer-summer-decor-wallpapers-left.svg"), url("../img/footer-wallpapers/footer_autumn/footer-summer-decor-wallpapers-right.svg"), linear-gradient(rgba(0, 16, 56, 0.45), rgba(0, 16, 56, 0.45)), url("../img/footer-wall-with-extra-text-min.jpg");
  background-position: bottom -12 left -3, bottom right -12, center, center right -25;
}

.footer__winter-time {
  background-image: url("../img/footer-wallpapers/footer_winter/footer-winter-decor-wallpapers-left.svg"), url("../img/footer-wallpapers/footer_winter/footer-winter-decor-wallpapers-right.svg"), linear-gradient(rgba(0, 16, 56, 0.45), rgba(0, 16, 56, 0.45)), url("../img/footer-wall-min.jpg");
  background-repeat: no-repeat;
  background-position: bottom -12 left -3, bottom right -5, center, center;
  background-size: 144px, 94px 84px, cover, cover;
}
.footer__winter-time.footer-section__extended-text {
  background-image: url("../img/footer-wallpapers/footer_winter/footer-winter-decor-wallpapers-left.svg"), url("../img/footer-wallpapers/footer_winter/footer-winter-decor-wallpapers-right.svg"), linear-gradient(rgba(0, 16, 56, 0.45), rgba(0, 16, 56, 0.45)), url("../img/footer-wall-with-extra-text-min.jpg");
  background-position: bottom -12 left -3, bottom right -12, center, center right -25;
}

.footer__spring-time {
  background-image: url("../img/footer-wallpapers/footer_spring/footer-spring-decor-wallpapers-left.svg"), url("../img/footer-wallpapers/footer_spring/footer-spring-decor-wallpapers-bottom-right.svg"), url("../img/footer-wallpapers/footer_spring/footer-spring-decor-wallpapers-top-right.svg"), linear-gradient(rgba(0, 16, 56, 0.45), rgba(0, 16, 56, 0.45)), url("../img/footer-wall-min.jpg");
  background-repeat: no-repeat;
  background-position: bottom -12 left -3, bottom right -5, top 145 right -15, center, center;
  background-size: 116px 113px, 161px 156px, 90px 100px, cover, cover;
}
.footer__spring-time.footer-section__extended-text {
  background-image: url("../img/footer-wallpapers/footer_spring/footer-spring-decor-wallpapers-left.svg"), url("../img/footer-wallpapers/footer_spring/footer-spring-decor-wallpapers-bottom-right.svg"), url("../img/footer-wallpapers/footer_spring/footer-spring-decor-wallpapers-top-right.svg"), linear-gradient(rgba(0, 16, 56, 0.45), rgba(0, 16, 56, 0.45)), url("../img/footer-wall-with-extra-text-min.jpg");
  background-position: bottom -12 left -3, bottom right -5, top 145 right -15, center, center right -25;
}

.city-changer-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 16, 56, 0.45), rgba(0, 16, 56, 0.45));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1000;
  transition: opacity 500ms ease;
}

.weather-form {
  position: absolute;
  z-index: 1001;
  top: 275;
  left: 950;
}

.weather-btn {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #006D85;
  border-radius: 10px;
  padding: 10px 30px;
  font-size: 17px;
  line-height: 20px;
  color: #FFF;
  border: none;
  cursor: pointer;
  transform: scale(0.9);
}
.weather-btn:active {
  transform: scale(0.8);
}

.city-name-input {
  width: 269px;
  margin-left: 93px;
  padding: 13px 0 12px 15px;
  align-items: center;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: none;
  outline: none;
}

.city-changer-close-btn {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-image: url("../img/close-btn-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  position: absolute;
  top: 255;
  right: 165;
  z-index: 1001;
  cursor: pointer;
}
.city-changer-close-btn:active {
  transform: scale(0.9);
}

.background-no-icon {
  background-color: aqua;
}

.background-sun-behind-cloud {
  background-image: url("/src/img/description-icons/svg_sun-behind-cloud.svg");
}

.background-sun {
  background-image: url("/src/img/description-icons/svg_sun.svg");
}

.background-clouds {
  background-image: url("/src/img/description-icons/svg_clouds.svg");
}

.background-rain {
  background-image: url("/src/img/description-icons/svg_rain.svg");
}

.background-hevy-rain {
  background-image: url("/src/img/description-icons/svg_heavy-rain.svg");
}

.current-weather-outlet {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.season-theme {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.theme-form {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.season-theme-select {
  width: 85%;
  cursor: pointer;
}

.season-theme-confirm-btn {
  border: 1px solid black;
  background: none;
  height: 18px;
  margin-bottom: 2px;
  width: 20%;
  cursor: pointer;
}
.season-theme-confirm-btn:active {
  transform: scale(0.9);
}/*# sourceMappingURL=index.css.map */