$primaryColor: #A5EFFF;
$primaryColorDark: #006D85;
$whiteColor: #FFF;
$blackColor: #000;
$socialLinksHover: #CDF6FF;
$socialLinksActive:#A5EFFF;
$smallButton: rgba(168, 229, 255, 0.5);
$sunColor: #FFCA22;

