$primaryColor: #A5EFFF;
$whiteColor: #FFF;
$blackColor: #000;
$socialLinksHover: #CDF6FF;
$socialLinksActive:#A5EFFF;
$smallButton: rgba(168, 229, 255, 0.5);
$tittlesColoredLight: #A5EFFF;
$tittlesColoredDark: #006D85;
