.language-menu {
    @include dfcc;
    width: 121px;
    height: 36px;
    margin-right: 20px;
    background-color: $smallButton;
    text-align: center;
    border-radius: 10px;
}

.language-interface {
    width: 50%;
    font-size: 17px;
    line-height: 1.17;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}