.background-no-icon {
    background-color: aqua;
}
.background-sun-behind-cloud {
    background-image: url('/src/img/description-icons/svg_sun-behind-cloud.svg');
}
.background-sun {
    background-image: url('/src/img/description-icons/svg_sun.svg');
}
.background-clouds {
    background-image: url('/src/img/description-icons/svg_clouds.svg');
}
.background-rain {
    background-image: url('/src/img/description-icons/svg-rain.svg');
}
.background-simple-cloud {
    background-image: url('/src/img/description-icons/svg_sun-behind-cloud.svg');
}