@import '../../utils/constants';

.link-list {
    width: 471px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-link {
    font-size: 18px;
    line-height: 1.16;
    text-decoration: none;
    color: black;
    &:hover {
        color: #006D85;
    }
}
