@import '../../utils/constants';


.logo-wrapper {
    width: 140px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.13px;
    margin-right: 160px;

    & .styled-color-white span{
        color: $whiteColor;
    }
    & span {
        color: #006D85;
    }
}

.logo-icon {
    margin-top: 10px;
}



.hidden {
    opacity: 0;
    pointer-events: none;
}


