@import '../utils/constants';

.about-section {
    padding: 115px 0 110px 0;
}
.about-container {
    flex-direction: column; 
}
.about-tittle-outlet {
    margin-bottom: 60px;
}
h2 {
 & span {
    color: $primaryColorDark;;
 }
}
.about-content-wrapper {
    display: flex;
    justify-content: space-between;
}
.ppl-image-wrapper {
    border-radius: 20px;
    height: fit-content;
    overflow: hidden;
}
.about-text-wrapper {
    width: 570px;
    margin-top: 119px;
    padding: 31px 26px;
    background: linear-gradient(110.89deg, rgba(121, 222, 244, 0.32) 6.2%, rgba(121, 222, 244, 0.32) 6.21%, rgba(255, 251, 164, 0.32) 25.48%, rgba(255, 251, 164, 0.32) 40.95%, rgba(121, 222, 244, 0.32) 94.08%);
    border-radius: 20px;
   
}
.about-text {
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-indent: 50px;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}
.about__summer-time {
    background-image: 
        url('../img/about-wallpapers/about_summer/about-summer-decor-wallpapers-left.svg'),
        url('../img/about-wallpapers/about_summer/about-summer-decor-wallpapers-center.svg'),
        url('../img/about-wallpapers/about_summer/about-summer-decor-wallpapers-right.svg')
    ;

    background-repeat: no-repeat;
    background-position: top 320 left -13, top -82 left 870, bottom 80 right;
    background-size: 132px 148px, 120px 152px, 121px 181px;

    padding: 115px 0 110px 0;
}
.about__autumn-time {
    background-image: 
        url('../img/about-wallpapers/about_autumn/about-summer-decor-wallpapers-left.svg'),
        url('../img/about-wallpapers/about_autumn/about-summer-decor-wallpapers-center.svg'),
        url('../img/about-wallpapers/about_autumn/about-summer-decor-wallpapers-right.svg')
    ;

    background-repeat: no-repeat;
    background-position: top 320 left -13, top -82 left 870, bottom 80 right;
    background-size: 132px 148px, 120px 152px, 121px 181px;

    padding: 115px 0 110px 0;
}
.about__winter-time {

    background-repeat: no-repeat;
    background-position: top 320 left -13, top -82 left 870, bottom 80 right;
    background-size: 132px 148px, 120px 152px, 121px 181px;

    padding: 115px 0 110px 0;
}
.about__spring-time {

    background-repeat: no-repeat;
    background-position: top 320 left -13, top -82 left 870, bottom 80 right;
    background-size: 132px 148px, 120px 152px, 121px 181px;

    padding: 115px 0 110px 0;
}
