@import '../utils/constants';

@keyframes rotateY {
    0% {
      transform: perspective(800px) rotateY(0deg);
    }
  
    25% {
      transform: perspective(800px) rotateY(-10deg);
    }
    50% {
        transform: perspective(800px) rotateY(0deg);
    }
    75% {
        transform: perspective(800px) rotateY(10deg);
    }
    100% {
        transform: perspective(800px) rotateY(0deg);
      }
  }

.future-weather-section {
    padding-top: 110px;
}
.future-weather-container {
    height: 544px;
    align-items: center;
}
.future-weather-wallpaper {
    width: 70%;
    height: 70%;
    background-image: url('../img/future-sect-wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: 135%;
    background-position: center;
    animation-name: rotateY;
    animation-duration: 6000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

h2 {
    margin-bottom: 60px;
    & span {
        color: $primaryColorDark;
    }
}

.future-weather-text-wrapper {
    padding-top: 90px;
    margin-right: 40px;
    width: 40%;
    height: 100%;
    position: relative;
    & p {
        margin-top: 30px;
        text-indent: 25px;
    }
}
.soon-tittle {
    width: 150px;
    border: 4px solid red;
    color: red;
    text-align: center;
    transform: rotate(-15deg);
    padding: 10px 0;
    margin-bottom: 50px;
    position: absolute;
    right: -700;
    top: 60;
    z-index: 2;
}
.text-tittle {
    color: $primaryColorDark;
}

.future__summer-time {

    background-image: 
        url('../img/future-section-wallpapers/future-summer/future-summer-decor-wallpapers-left.svg'),
        url('../img/future-section-wallpapers/future-summer/future-summer-decor-wallpapers-right-top.svg'),
        url('../img/future-section-wallpapers/future-summer/future-summer-decor-wallpapers-right-bottom.svg'),
    ;
    background-repeat: no-repeat;
    background-position: top 55 left 0, top 20 right 500, bottom right;
    // background-size: 190px 116px, 52px 61px, 147px 111px;
}

.future__autumn-time {
    background-image: 
        url('../img/future-section-wallpapers/future-autumn/future-autumn-decor-wallpapers-left.svg'),
        url('../img/future-section-wallpapers/future-autumn/future-autumn-decor-wallpapers-right-top.svg'),
        url('../img/future-section-wallpapers/future-autumn/future-autumn-decor-wallpapers-right-bottom.svg'),
    ;
    background-repeat: no-repeat;
    background-position: top 55 left -60, top 20 right 500, bottom right -40;
    background-size: 190px 116px, 52px 61px, 147px 111px;
}
.future__winter-time {
    background-image: 
        url('../img/future-section-wallpapers/future-winter/future-winter-decor-wallpapers-left.svg'),
        url('../img/future-section-wallpapers/future-winter/future-winter-decor-wallpapers-right-top.svg'),
        url('../img/future-section-wallpapers/future-winter/future-winter-decor-wallpapers-right-bottom.svg'),
    ;
    background-repeat: no-repeat;
    background-position: top 70 left -35, top 20 right 500, bottom right -40;
    background-size: 160px 154px, 61px, 161px 156px;
}
.future__spring-time {
    background-image: 
        url('../img/future-section-wallpapers/future-spring/future-spring-decor-wallpapers-left.svg'),
        url('../img/future-section-wallpapers/future-spring/future-spring-decor-wallpapers-right-top.svg'),
        url('../img/future-section-wallpapers/future-spring/future-spring-decor-wallpapers-right-bottom.svg'),
    ;
    background-repeat: no-repeat;
    background-position: top 155 left -30, top 20 right 500, bottom right -35;
    background-size: 163px 136px, 67px 61px, 157px 131px;
}