@import "../utils/constants";


body{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    color: #2f2f37;
    margin: 0;
}

section {
    max-width: 1600px;
    box-sizing: border-box;
}
header, footer {
    max-width: 1600px;
}
footer { 
    padding-top: 95px;
    padding-bottom: 30px;
    margin-top: 0;
}
h1 {
    font-size: 55px;
    line-height: 1.36;
    & span {
        color: $primaryColor;
    }
}
h2 {
    font-size: 40px;
    line-height: 1.15;
}
h1,h2{
    margin: 0;
    padding: 0;
    font-weight: 500;
}
p,span,li {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
button {
    outline: none;

}
.container {
    max-width: 1171px;
    margin: 0 auto;
    // background-color: rgb(247, 148, 160);
    display: flex;
}
