@import '../utils/mixins';
@import '../utils/constants';
.header-section {
    margin: 0 auto;
}
.header-container {
    padding: 20px;
    align-items: center;
}

nav {
    margin-right: 128px;
}
.burger-menu-wrapper {
    position: relative;

}


.burger-menu-btn {
    position: relative;
    background:none;
    width: 31px;
    height: 36px;
    border: none;
    cursor: pointer;
    &:active {
        transform: scale(0.9);
    }
    margin-left: 84px;
 }
 .burger-menu-icon {
    position: absolute;
    top: 5;
    left: -2;
 }
 .modal-menu-wrapper {
    border: 1px solid black;
    padding: 40px 10px 100px 10px;
    position: absolute;
    top: 0;
    left: 80;
    width: 150px;
    opacity: 0;
    transform: translateY(-50%);

    transition: opacity 200ms ease, transform 1s ease;
    background-color: #fff;
    pointer-events: none;
    &.active {
        transition: opacity 100ms ease, transform 1s ease;
        transform: translateY(0);
        opacity: 1;
        pointer-events: all;
    }
    z-index: 100;
    
 }
 .modal-menu-close-btn {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-image: url('../img/close-btn-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    position: absolute;
    top: 5;
    right: 5;
    cursor: pointer;
    &:active {
        transform: scale(0.9);
    }
 }
 

.header__summer-time {
    background-repeat: no-repeat;
    background-position: top left, bottom -95 left 800, top right;
    background-size: 75px, 150px, 60px;

    background-image: 
        url('../img/header-wallpapers/header_summer/header-summer-decor-wallpapers-left.svg'),
        url('../img/header-wallpapers/header_summer/header-summer-decor-wallpapers-center.svg'),
        url('../img/header-wallpapers/header_summer/header-summer-decor-wallpapers-right.svg')
    ;
    margin: 0 auto;
}
.header__autumn-time {
    background-repeat: no-repeat;
    background-position: top left, bottom -95 left 800, top right;
    background-size: 75px, 150px, 60px;

    background-image: 
        url('../img/header-wallpapers/header_autumn/header-autumndecor-wallpapers-left.svg'),
        url('../img/header-wallpapers/header_autumn/header-autumn-decor-wallpapers-center.svg'),
        url('../img/header-wallpapers/header_autumn/header-autumndecor-wallpapers-right.svg')
    ;
    margin: 0 auto;
}
.header__winter-time {
    margin: 0 auto;
}
.header__spring-time {
    margin: 0 auto;
}
