@import '../utils/mixins';
@import '../utils/constants';
.header-section {
    margin: 0 auto;
}
.header-container {
    padding: 20px 0;
    justify-content: flex-start;
              
}

nav {
    margin-right: 128px;
}
.burger-menu-wrapper {
    position: relative;
}


.burger-menu-btn {
    position: relative;
    background:none;
    width: 31px;
    height: 36px;
    border: none;

    &:active {
        transform: scale(0.9);
    }
    
    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
 }
 .burger-menu-icon {
    position: absolute;
    top: 5;
    left: -2;
 }
 

.header__summer-time {
    background-repeat: no-repeat;
    background-position: top left, bottom -95 left 800, top right;


    background-image: 
        url('../img/header-wallpapers/header_summer/header-summer-decor-wallpapers-left.svg'),
        url('../img/header-wallpapers/header_summer/header-summer-decor-wallpapers-center.svg'),
        url('../img/header-wallpapers/header_summer/header-summer-decor-wallpapers-right.svg')
    ;
    margin: 0 auto;
}
.header__autumn-time {
    background-repeat: no-repeat;
    background-position: top left, bottom -95 left 800, top right;


    background-image: 
        url('../img/header-wallpapers/header_autumn/header-autumndecor-wallpapers-left.svg'),
        url('../img/header-wallpapers/header_autumn/header-autumn-decor-wallpapers-center.svg'),
        url('../img/header-wallpapers/header_autumn/header-autumndecor-wallpapers-right.svg')
    ;
    margin: 0 auto;
}
.header__winter-time {
    background-repeat: no-repeat;
    background-position: top left, bottom left 875, top right;
    

    background-image: 
        url('../img/header-wallpapers/header_winter/header-winter-decor-wallpapers-left.svg'),
        url('../img/header-wallpapers/header_winter/header-winter-decor-wallpapers-center.svg'),
        url('../img/header-wallpapers/header_winter/header-winter-decor-wallpapers-right.svg')
    ;
    margin: 0 auto;
}
.header__spring-time {
    background-repeat: no-repeat;
    background-position: top left, bottom -10 left 1025, top right;

    background-image: 
        url('../img/header-wallpapers/header_spring/header-spring-decor-wallpapers-left.svg'),
        url('../img/header-wallpapers/header_spring/header-spring-decor-wallpapers-center.svg'),
        url('../img/header-wallpapers/header_spring/header-spring-decor-wallpapers-right.svg')
    ;
    margin: 0 auto;
}
