@import '../utils/constants';

.hero-section {
    background-image: linear-gradient(rgba(0, 16, 56, 0.45), rgba(0, 16, 56, 0.45)), url('../img/hero-wallpapers/hero-summer-wallpaper-min-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 203px 0 30px 0;
}
.hero-container {
    flex-direction: column;
    margin-bottom: 171px;
}
.main-hero-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

h1 {
    color: $whiteColor;
    padding: 26px 0;
}
.hero-about {
    max-width: 605px;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    margin-top: 25px;
    color: $whiteColor;
}
.hero-btn {
    padding: 12px 80px;
    background: linear-gradient(180deg, $primaryColor 0%, #95ECFF 0.01%, #B3F1FF 100%);
    border-radius: 10px;
    font-weight: 500;
    font-size: 19px;
    line-height: 1.15;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    &:active {
        transform: scale(0.9);
    }
}

.hero-weather-panel-wrapper {
    position: relative;
}
.control-bar {
    position: absolute;
    top: 30;
    left: 50;
    margin-left: 85px;
    z-index: 2;
}
.weather-panel-city-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 134px;
}

.city-control-bar {
    margin-left: 14px;
    position: relative;
}
.title-wrapper {
    position: absolute;
    top: 12;
    left: 118;
}
.tittle-text-wrapper {
    font-size: 20px;
    line-height: 1.15;
    color: $whiteColor;
}



.city-changer-btn {
    width: 110px;
    height: 30px;
    margin-left: 10px;
    border: none;
    background: none;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    color: $primaryColor;
    &:hover {
        color: #c81313;
    }
    &:active {
        transform: scale(0.9);
    }
}
.current-temperature-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-right: 20px;
    background-image: url('../img/hero-wallpapers/svg_degrees_how_wallpaper.svg');
    background-repeat: no-repeat;
    background-size: 20 20;
    background-position: top right;
}
.current-temperature {
    font-weight: 500;
    font-size: 90px;
    line-height: 1.14;
    color: $whiteColor;
}
.degrees-icon {
    position: absolute;
    top: 0;
    right: 0;
}
.weather-large-icon-wrapper {
    width: 230px;
    height: 230px;
    position: absolute;
    bottom: 70;
    left: 193;
}
.weather-large-icon {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.weather-description {
    position: absolute;
    bottom: 13;
    left: 120;
    color: $whiteColor;
}


.weather-data-outlet {

    width: 346px;
    height: 100%;
    position: relative;
    & .current-weather-preview-content-wrapper {
        color: $whiteColor;
        width: 389px;
        position: absolute;
        left: 57px;
        top: 0;
    }
}
.hero__summer-time {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 203px 0 30px 0;

    background-image: 
        linear-gradient(rgba(0, 16, 56, 0.45), rgba(0, 16, 56, 0.45)),
        url('../img/hero-wallpapers/hero-summer-wallpaper-min-2.jpg')
    ;
}
.hero__autumn-time {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 203px 0 30px 0;

    background-image: 
    linear-gradient(rgba(0, 16, 56, 0.45), rgba(0, 16, 56, 0.45)),
    url('../img/hero-wallpapers/hero-autumn-wallpaper-min.jpg')
;
}
.hero__winter-time {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 203px 0 30px 0;

    background-image: 
    linear-gradient(rgba(0, 16, 56, 0.45), rgba(0, 16, 56, 0.45)),
    url('../img/hero-wallpapers/hero-winter-wallpaper-min.jpg')
;
}
.hero__spring-time {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 203px 0 30px 0;

    background-image: 
    linear-gradient(rgba(0, 16, 56, 0.45), rgba(0, 16, 56, 0.45)),
    url('../img/hero-wallpapers/hero-spring-wallpaper-min.jpg')
;
}